* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > #root {
    /* background-color:rgb(49, 46, 46); */
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
